data/
dist/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.env
logs/
files/
.claude/

# transient: core-affinity choice written by scripts/cpu_throttle.sh
.cpu_set
.gitsecret/keys/random_seed
!*.secret
.gitsecret/keys/*~
